snippet cdart "Dart Code block" b
{{< highlight dart >}}
$0
{{< /highlight >}}
endsnippet

snippet csh "Shell Code block" b
{{< highlight shell >}}
$0
{{< /highlight >}}
endsnippet

snippet cvim "vim Code block" b
{{< highlight vim >}}
$0
{{< /highlight >}}
endsnippet

snippet cc "cpp Code block" b
{{< highlight cpp >}}
$0
{{< /highlight >}}
endsnippet
